.icon {
    width: 20px;
    height: 20px;
}

.text {
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    font-weight: 400;
}

.text:not(:last-child) {
    margin-bottom: 10px;
}

.delBtn {
    height: 35px;
    text-align: center;
}